* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

nav {
}

main {

}

nav ul {
  list-style: none;

}

nav li {
  align-self: center;
  padding: 20px 10px;
}

nav li a {
  color: #43cec3;
  text-transform: uppercase;
}


a {
  text-decoration: none;
}

h2 {
  color: #122a68;
}

.banner {
  background: #43cec3;
  color: white;
}


footer {
    height: 100px;
    background-color: #D9E4EA;
}


/* ================================= 
  Media Queries
==================================== */

/* @media (max-width: 1025px) {

} */

/* @media (max-width: 800px) {
 
}

@media (max-width: 600px) {
  } */
