* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.container {
    display: grid;
}

nav {
    grid-template-areas: 
    "name navigation";
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}

main {
    grid-template-areas: 
    "secondary primary tertiary"
}

nav h1 {
    align-self: center;
}

nav ul {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    align-self: center;
    padding: 10px;
}

li a{
    color: #43CEC3;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.name a, h1, h2 {
    color: #122A68;
}

/* ================================= 
  Media Queries
==================================== */

/* @media (min-width: 769px) {

}
@media (min-width: 1025px) {

} */
